:root{
    --primary-darkCyan: hsl(158, 36%, 37%);
    --primary-activeBtn: hsl(158, 36%, 14%);
    --primary-cream: hsl(30, 38%, 92%);
    --neutral-veryDarkBlue: hsl(212, 21%, 14%);
    --neutral-darkGrayishBlue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);
}
    


